<script src="/js/main.js"></script>
</body>

<footer class="footer">
    <p>&copy; Copyright by <strong> Ugwu Emmanuel I. </strong> <span class="footer-year"> <%= new Date().getFullYear() %></span></p>
</footer>
</html>