<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <h1>An Error Occured!</h1>
        <p>Please try again later as we are working on it..</p>
    </main>

<%- include('includes/end.ejs') %>